<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.essensift.mandirihack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".engine.ThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.emoney.EmoneyDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.emoney.EmoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.emoney.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.emoney.CardListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.emoney.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.emoney.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BottomNavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>